
// 工具类名统一前缀，单位px
$prefix: dk;

  // 边距相关,固定px
$sizes: (0, 4, 8, 10, 12, 16, 20);

@for $index from 1 to 7 {
  .#{$prefix}-m-#{nth($sizes, $index)} { margin: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mt-#{nth($sizes, $index)} { margin-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mr-#{nth($sizes, $index)} { margin-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mb-#{nth($sizes, $index)} { margin-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-ml-#{nth($sizes, $index)} { margin-left: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mtb-#{nth($sizes, $index)} { margin-top: #{nth($sizes, $index)}px !important; margin-bottom: #{nth($sizes, $index)}px !important;}
  .#{$prefix}-mlr-#{nth($sizes, $index)} { margin-left: #{nth($sizes, $index)}px !important; margin-right: #{nth($sizes, $index)}px !important;}

  .#{$prefix}-p-#{nth($sizes, $index)} { padding: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pt-#{nth($sizes, $index)} { padding-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pr-#{nth($sizes, $index)} { padding-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pb-#{nth($sizes, $index)} { padding-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pl-#{nth($sizes, $index)} { padding-left: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-ptb-#{nth($sizes, $index)} { padding-top: #{nth($sizes, $index)}px !important; padding-bottom: #{nth($sizes, $index)}px !important;}
  .#{$prefix}-plr-#{nth($sizes, $index)} { padding-left: #{nth($sizes, $index)}px !important; padding-right: #{nth($sizes, $index)}px !important;}

}

$border-color:rgba(0,0,0,0.15);
